In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/geo/stazioni.csv', ';')

In [4]:
df.head()

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
0,TOS19000601,0,5A,Cecina,LI,NaN,freatimetro,m,761579.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
1,TOS19000601,0,5A,Cecina,LI,NaN,qualita,microS/cm,761585.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
2,TOS19000601,0,5A,Cecina,LI,NaN,termometro acqua,�C,761583.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0

In [11]:
def search_for(nome, unit=None):
    in_name = df['Nome'].str.contains(nome)
    in_comune = df['Comune'].str.contains(nome)
    mydf = df[in_name | in_comune]
    return mydf if unit is None else mydf[mydf['Strumento'] == unit]

In [6]:
search_for('Bibbiena')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
205,TOS01000626,0,Bibbiena,Bibbiena,AR,NaN,pluviometro,mm,738957.0,43.714149,11.830949,1728089.90,4844035.82,415.0,2.0
206,TOS01000626,0,Bibbiena,Bibbiena,AR,NaN,pluviometro,mm,738977.0,43.714149,11.830949,1728089.90,4844035.82,415.0,2.0
1902,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,freatimetro,m,765429.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN
1903,TOS29000040,1,Pozzo Le Chiane1,Bibbiena,AR,NaN,qualita,microS/cm,765435.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN
1904,TOS29000040,0,Pozzo Le Chiane,Bibbiena,AR,NaN,termometro acqua,�C,765433.0,43.690540,11.802960,1725923.71,4841336.91,320.0,NaN

In [7]:
search_for('Camaldoli')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
305,TOS01000611,0,Camaldoli,Poppi,AR,NaN,pluviometro,mm,739057.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,2.0
306,TOS01000611,0,Camaldoli,Poppi,AR,NaN,pluviometro,mm,739077.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN
307,TOS01000611,0,Camaldoli,Poppi,AR,NaN,termometro,�C,739051.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN
308,TOS01000611,0,Camaldoli,Poppi,AR,NaN,termometro,�C,739071.0,43.810416,11.817376,1726632.43,4854690.83,1111.0,NaN

In [8]:
search_for('Cavallina')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
567,TOS01000911,0,Cavallina,Barberino di Mugello,FI,NaN,pluviometro,mm,737957.0,43.983567,11.23742,1679464.29,4872497.11,256.0,2.0

In [9]:
search_for('Consuma')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
679,TOS01001041,0,Consuma,Rufina,FI,NaN,igrometro,%,738002.0,43.784466,11.585201,1708048.04,4851198.64,955.0,NaN
680,TOS01001041,0,Consuma,Rufina,FI,NaN,pluviometro,mm,738007.0,43.784466,11.585201,1708048.04,4851198.64,955.0,2.3
681,TOS01001041,0,Consuma,Rufina,FI,NaN,termometro,�C,738001.0,43.784466,11.585201,1708048.04,4851198.64,955.0,3.0

In [14]:
search_for('Firenze', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
786,TOS11000111,0,Firenze Citta',Firenze,FI,NaN,termometro,�C,511121.0,43.771512,11.264566,1682286.90,4849003.82,48.0,NaN
789,TOS01001095,0,Firenze Genio Civile,Firenze,FI,NaN,termometro,�C,740351.0,43.779197,11.258056,1681739.68,4849843.05,50.0,NaN
805,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739901.0,43.798788,11.251140,1681123.90,4852003.85,84.0,9.0
806,TOS01001096,0,Firenze Università,Firenze,FI,NaN,termometro,�C,739921.0,43.798788,11.251140,1681123.90,4852003.85,84.0,9.0

In [15]:
search_for('Incisa', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
983,TOS01000891,0,Il Palagio,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,738257.0,43.612661,11.427217,1695894.31,4831731.81,315.00,2.0
1000,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739157.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1001,TOS01004591,0,Incisa Valle,Figline e Incisa Valdarno,FI,Arno,pluviometro,mm,739177.0,43.689849,11.456191,1697978.63,4840373.59,108.42,2.0
1743,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740857.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0
1744,TOS03001135,0,Poggio alla Croce,Figline e Incisa Valdarno,FI,NaN,pluviometro,mm,740877.0,43.650094,11.392472,1692970.61,4835807.90,500.00,2.0

In [16]:
search_for('Laterina')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1059,TOS01000799,0,Laterina,Laterina Pergine Valdarno,AR,NaN,pluviometro,mm,11115.0,43.508954,11.716307,1719599.90,4820936.35,210.0,2.0
1060,TOS01004557,0,Laterina,Laterina Pergine Valdarno,AR,Oreno,idrometro,m,754209.0,43.510398,11.709367,1719033.63,4821078.38,NaN,NaN
1820,TOS01004561,0,Ponte Romito,Laterina Pergine Valdarno,AR,Arno,idrometro,m,754259.0,43.502515,11.675731,1716342.82,4820114.82,NaN,NaN

In [18]:
search_for('Croci', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1067,TOS01000926,0,Le Croci (Barberino),Barberino di Mugello,FI,NaN,pluviometro,mm,739957.0,44.007030,11.271254,1682105.88,4875177.41,388.0,2.0
1069,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737407.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0
1070,TOS01001189,0,Le Croci di Calenzano,Calenzano,FI,NaN,pluviometro,mm,737427.0,43.944755,11.213740,1677680.87,4868135.03,421.0,2.0

In [20]:
search_for('Mangona', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1148,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738307.0,44.050061,11.195636,1675916.49,4879792.65,540.0,2.0
1149,TOS01000921,0,Mangona,Barberino di Mugello,FI,NaN,pluviometro,mm,738327.0,44.050061,11.195636,1675916.49,4879792.65,540.0,NaN

In [22]:
search_for('Montevarchi', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1392,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744307.0,43.541212,11.566208,1707355.74,4824133.6,133.8,2.0
1393,TOS01004571,0,Montevarchi,Montevarchi,AR,Arno,pluviometro,mm,744327.0,43.541212,11.566208,1707355.74,4824133.6,133.8,NaN

In [23]:
search_for('Agata', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2045,TOS01000961,0,S. Agata di Mugello,Scarperia e San Piero,FI,NaN,pluviometro,mm,737607.0,44.020694,11.337209,1687350.28,4876842.88,357.0,2.0

In [24]:
search_for('Piero', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1153,TOS01000925,0,Marcoiano,Scarperia e San Piero,FI,NaN,pluviometro,mm,11133.0,44.054421,11.304825,1684649.90,4880515.82,537.51,2.0
1777,TOS01000931,0,Ponte a Olmo,Scarperia e San Piero,FI,NaN,pluviometro,mm,737507.0,44.049164,11.304406,1684632.69,4879931.07,459.00,2.0
2045,TOS01000961,0,S. Agata di Mugello,Scarperia e San Piero,FI,NaN,pluviometro,mm,737607.0,44.020694,11.337209,1687350.28,4876842.88,357.00,2.0
2162,TOS01004621,0,S. Piero a Sieve-Sieve,Scarperia e San Piero,FI,Sieve,pluviometro,mm,737657.0,43.965105,11.328013,1686787.54,4870647.71,222.00,2.0

In [25]:
search_for('Savino', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1271,TOS01000741,0,Monte S.Savino,Monte San Savino,AR,NaN,pluviometro,mm,739257.0,43.339127,11.742346,1722325.84,4802143.81,275.0,2.0

In [27]:
search_for('Stia', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2341,TOS01000581,0,Stia,Pratovecchio Stia,AR,NaN,pluviometro,mm,740157.0,43.801781,11.717606,1718639.13,4853463.19,537.0,NaN
2342,TOS01000581,0,Stia,Pratovecchio Stia,AR,NaN,pluviometro,mm,740177.0,43.801781,11.717606,1718639.13,4853463.19,537.0,NaN
2350,TOS11000105,0,Stia Monte,Pratovecchio Stia,AR,NaN,pluviometro,mm,749857.0,43.831636,11.701314,1717220.23,4856736.24,838.0,NaN
2353,TOS11000042,0,Stiacciole,Grosseto,GR,NaN,pluviometro,mm,753357.0,42.788848,11.175772,1677982.90,4739678.82,53.0,NaN
2356,TOS03001550,0,Stiappa Siap,Pescia,PT,NaN,pluviometro,mm,736057.0,43.994901,10.711244,1637239.90,4872745.82,605.0,2.0
2467,TOS01000571,0,Vallucciole,Pratovecchio Stia,AR,NaN,pluviometro,mm,739707.0,43.842022,11.657476,1713658.39,4857775.52,745.0,2.0

In [28]:
search_for('Vernio', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2495,TOS01001171,0,Vernio,Vernio,PO,NaN,pluviometro,mm,737807.0,44.056676,11.120557,1669883.12,4880369.81,695.0,2.0
2499,TOS11000506,0,Vernio,Vernio,PO,NaN,pluviometro,mm,550601.0,44.036938,11.149634,1672269.39,4878237.79,349.0,NaN

In [29]:
search_for('Rosano', 'idrometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
1427,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,idrometro,m,738409.0,43.771197,11.422816,1695024.49,4849329.51,78.84,NaN
1428,TOS01004659,0,Nave di Rosano,Rignano sull'Arno,FI,Arno,idrometro,m,738429.0,43.771197,11.422816,1695024.49,4849329.51,78.84,NaN
1431,TOS01004661,0,Nave Rosano valle,Bagno a Ripoli,FI,Arno,idrometro,m,738459.0,43.774303,11.413957,1694301.42,4849653.55,NaN,NaN

# Duplicates?

In [5]:
dupes = pd.DataFrame({
    'Place': ['Firenze', 'Firenze', 'Firenze',
              'Incisa', 'Incisa', 'Incisa',
              'Le Croci', 'Le Croci', 'Vernio', 'Vernio'],
    'Lat': [43.771512, 43.779197, 43.798788,
            43.612661, 43.689849, 43.650094,
            44.007030, 43.944755, 44.056676, 44.036938],
    'Lng': [11.264566, 11.258056, 11.251140,
            11.427217, 11.456191, 11.392472,
            11.271254, 11.213740, 11.120557, 11.149634],
    'Alt': [48, 50, 84, 315, 108.42, 500, 388, 421, 695, 349]
})
dupes

      Place        Lat        Lng     Alt
0   Firenze  43.771512  11.264566   48.00
1   Firenze  43.779197  11.258056   50.00
2   Firenze  43.798788  11.251140   84.00
3    Incisa  43.612661  11.427217  315.00
4    Incisa  43.689849  11.456191  108.42
5    Incisa  43.650094  11.392472  500.00
6  Le Croci  44.007030  11.271254  388.00
7  Le Croci  43.944755  11.213740  421.00
8    Vernio  44.056676  11.120557  695.00
9    Vernio  44.036938  11.149634  349.00

In [9]:
min(dupes['Lat']), min(dupes['Lng']), max(dupes['Lat']), max(dupes['Lng'])

(43.612661, 11.120557, 44.056676, 11.456191)

In [ ]:
# thank you uMap
# Firenze: B
# Incisa: B
# Le Croci: A
# Vernio: B