In [1]:
import pandas as pd
def search_for(nome, unit=None):
    in_name = df['Nome'].str.contains(nome)
    in_comune = df['Comune'].str.contains(nome)
    mydf = df[in_name | in_comune]
    return mydf if unit is None else mydf[mydf['Strumento'] == unit]
df = pd.read_csv('../../data/geo/stazioni.csv', ';')
df.head()

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
0,TOS19000601,0,5A,Cecina,LI,NaN,freatimetro,m,761579.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
1,TOS19000601,0,5A,Cecina,LI,NaN,qualita,microS/cm,761585.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
2,TOS19000601,0,5A,Cecina,LI,NaN,termometro acqua,�C,761583.0,43.331858,10.496826,1621375.90,4798771.82,8.41,0.0
3,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,deg,751055.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0
4,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,anemometro,m/s,751056.0,42.883103,11.661623,1717391.08,4751286.43,910.00,10.0

In [2]:
search_for('Piano', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
510,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745907.0,42.893956,11.526710,1706336.73,4752152.02,566.0,2.0
511,TOS03002901,0,Castel del Piano,Castel del Piano,GR,NaN,pluviometro,mm,745927.0,42.893956,11.526710,1706336.73,4752152.02,566.0,2.0
1335,TOS11000051,0,Montenero,Castel del Piano,GR,NaN,pluviometro,mm,750407.0,42.950614,11.439461,1699029.90,4758233.82,193.0,NaN
2255,TOS11000053,0,Seggiano,Castel del Piano,GR,NaN,pluviometro,mm,505301.0,42.906039,11.549029,1708118.45,4753548.83,539.0,NaN

In [3]:
search_for('Salvatore', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
26,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,pluviometro,mm,15201.0,42.894344,11.669369,1717984.09,4752554.84,855.0,2.0

In [4]:
search_for('Salvatore', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
27,TOS07000001,0,Abbadia S. Salvatore,Abbadia S. Salvatore,SI,NaN,termometro,�C,15202.0,42.894344,11.669369,1717984.09,4752554.84,855.0,2.0

In [6]:
search_for('Lazzaretti')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
730,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,freatimetro,m,747109.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
731,TOS29000055,1,David Lazzaretti1,S.Fiora,GR,NaN,qualita,microS/cm,747115.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
732,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,termometro acqua,�C,747113.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN

In [7]:
search_for('Verde', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
8,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,pluviometro,mm,751057.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0

In [8]:
search_for('Verde', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
10,TOS11000114,0,Abbadia S. S. - Laghetto Verde,Abbadia S.S.,SI,NaN,termometro,�C,751051.0,42.883103,11.661623,1717391.08,4751286.43,910.0,2.0

In [9]:
search_for('Fiora', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2094,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,pluviometro,mm,747257.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2095,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,pluviometro,mm,747277.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0

In [10]:
search_for('Fiora', 'termometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
2097,TOS11000052,0,S. Fiora,Arcidosso,GR,NaN,termometro,�C,747251.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2098,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747271.0,42.85448,11.555793,1708844.63,4747839.81,813.0,2.0
2099,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747263.0,42.85448,11.555793,1708844.63,4747839.81,813.0,NaN
2100,TOS11000052,1,S. Fiora1,Arcidosso,GR,NaN,termometro,�C,747283.0,42.85448,11.555793,1708844.63,4747839.81,813.0,NaN

In [11]:
search_for('Fiora', 'freatimetro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
730,TOS29000055,0,David Lazzaretti,S.Fiora,GR,NaN,freatimetro,m,747109.0,42.859722,11.602777,1712665.51,4748539.55,1080.0,NaN
2101,TOS20000004,0,S. Fiora 11bis,Grosseto,GR,NaN,freatimetro,m,766629.0,42.838214,11.584455,1711241.90,4746104.82,706.0,NaN
2104,TOS20000003,0,S. Fiora 8,Grosseto,GR,NaN,freatimetro,m,766679.0,42.838184,11.585775,1711349.90,4746104.82,705.0,NaN

In [12]:
search_for('Vetta', 'pluviometro')

,IDStazione,StazioneExtra,Nome,Comune,Provincia,Fiume,Strumento,Unita' Misura,IDSensoreRete,LAT [o],LON [o],GB E [m],GB N [m],Quota,QuotaTerra
17,TOS11000115,0,Abbadia S. S. - Vetta Amiata,Abbadia S.S.,SI,NaN,pluviometro,mm,747307.0,42.8901,11.6252,1714392.23,4751970.05,1678.0,3.0
24,TOS19000115,1,Abbadia S. S. - Vetta Amiata1,Abbadia S.S.,SI,NaN,pluviometro,mm,747327.0,42.8901,11.6252,1714392.23,4751970.05,1678.0,3.0

# None of our targets appear to be in the station list!!!

In [13]:
search_for('Arbure')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [14]:
search_for('Bugnano')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [15]:
search_for('Ermicciolo')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []

In [16]:
search_for('Galleria')

Empty DataFrame
Columns: [IDStazione, StazioneExtra, Nome, Comune, Provincia, Fiume, Strumento, Unita' Misura, IDSensoreRete, LAT [o], LON [o], GB E [m], GB N [m], Quota, QuotaTerra]
Index: []